<%- include("partials/header.ejs") %>

<main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <h1 >Welcome to the blog</h1>
    </div>
    
    <body>
        <div class="row mb-2">
            <% if (locals.posts.length > 0) { %>        
                

                        <% console.log(posts) %>
                        <% for(let i=0; i<locals.posts.length; i++) { %> 

                        <div class="card" style="width: 18rem;">
                            <img class="card-img-top" src="placeholder.jpg" alt="Card image cap">
                            <div class="card-body">
                              <form action="/delete" method="POST">
                                <h5 class="card-title" name="title"><%= posts[i].title %></h5>
                                <p name="id"><%= posts[i].id %></p>
                                <h5 name="subheading"><%= posts[i].subheading %></h5>
                                <p class="card-text mb-auto" name="content"><%= posts[i].content %></p>
                                <button class="btn btn-primary" name="delete" value="delete">Delete</button>
                            </form>
                            </div>
                          </div>
                        <% } %>


               
            <% } else { %>
                <% console.log(posts.length) %>
                <h2>No posts yet</h2>
            <% } %>



        </div>
    
    </body>

</main>


<%- include("partials/footer.ejs") %>
